/* begin knob styling */
.chart-stage {
  text-align: center;
}
.chart-stage .knob-title {
  border-bottom: medium none;
  font-size: 18px;
  text-align: center;
}

.flot-x-axis div.flot-tick-label {
  /* Rotate Axis Labels */
  transform: translateX(50%) rotate(20deg); /* CSS3 */
  transform-origin: 0 0;

  -ms-transform: translateX(50%) rotate(20deg); /* IE */
  -ms-transform-origin: 0 0;

  -moz-transform: translateX(50%) rotate(20deg); /* Firefox */
  -moz-transform-origin: 0 0;

  -webkit-transform: translateX(50%) rotate(20deg); /* Safari and Chrome */
  -webkit-transform-origin: 0 0;

  -o-transform: translateX(50%) rotate(20deg); /* Opera */
  -o-transform-origin: 0 0;
}
.progress {
  border-radius: 0px;
  min-width: 20%;
  height: 30px;
}
.progress .progress-bar {
  line-height: 30px;
}
.map {
  width: 100%;
  height: 480px!important;
}
/* end knob styling */

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #656565;
  padding: 2px 5px;
  background-color: #f2f2f2;
  color: #656565;
  opacity: 0.8;
}
