<div role="tabpanel" class="tab-pane" id="apps">
  <!-- begin app section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Apps</h2></div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Registered apps over time
          <a tabindex="0" class="pophelp" popover="The total apps over time is the number of active apps registered for use in Agave." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="registrations" dataset="appRegistrations.data" options="appRegistrations.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- begin data badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-th"></i> <span id="apps-total" ng-bind-html="summary.totals.apps | humanNumber"></span></h4>
          <p class="description">Total Apps</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-group"></i> <span id="apps-authors" ng-bind-html="summary.totals.created | humanNumber"></span></h4>
          <p class="description">Contributors</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-globe"></i> <span id="apps-public" ng-bind-html="summary.totals.public | humanNumber"></span></h4>
          <p class="description">Public</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-share-alt"></i> <span id="apps-shared" ng-bind-html="summary.totals.shared | humanNumber"></span></h4>
          <p class="description">Shared</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end app badges -->
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Apps by category
          <a tabindex="0" class="pophelp" popover="Application breakdown by tags as a percentage of the total number of apps." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="right">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="appCategories" dataset="appCategories.data" options="appCategories.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Apps by popularity
          <a tabindex="0" class="pophelp" popover="Application breakdown by usage as a percentage of total jobs run." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="appUses" dataset="appUses.data" options="appUses.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- end app section -->
</div>
