<div role="tabpanel" class="tab-pane" id="clients">
  <!-- Begin client section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Client Applications</h2></div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Total active 3rd party client applications
          <a tabindex="0" class="pophelp" popover="The number of active 3rd party client applications leveraging the Agave Platform" popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="topClients" class="chart-stage" dataset="topClients.data" options="topClients.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>

  <!-- begin data badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-puzzle-piece"></i> <span id="clients-total" ng-bind-html="(summary.totals.total | humanNumber)"></span></h4>
          <p class="description">Total Clients</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-puzzle-piece"></i> <span id="clients-active" ng-bind-html="(summary.totals.active)| humanNumber"></span></h4>
          <p class="description">Active Clients</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-4">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-puzzle-piece"></i> <span id="clients-new" ng-bind-html="(summary.totals.new| humanNumber)"></span></h4>
          <p class="description">New Clients</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end data badges -->

  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top clients by user count
          <a tabindex="0" class="pophelp" popover="Top 3rd party client applications by user count." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="clientsByUsers" dataset="clientsByUsers.data" options="clientsByUsers.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top clients by traffic
          <a tabindex="0" class="pophelp" popover="Top 3rd party client application by overall api traffic." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="clientsByTraffic" dataset="clientsByTraffic.data" options="clientsByTraffic.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top tenants client count
          <a tabindex="0" class="pophelp" popover="Top tenants in terms of total number of client applications." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="clientsByTenant" dataset="clientsByTenants.data" options="clientsByTenants.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="chart-wrapper">
      <div class="chart-title">
        Daily 3rd party application registrations
        <a href="#" class="pophelp" tabindex="0" popover="The number of 3rd party clients registered over time includes all client applications generating new API keys. Regeneration of existing keys is not included." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
          <i class="icon fa fa-info"></i>
        </a>
      </div>
      <div class="chart-stage">
        <flot id="clientRegistrations" class="chart-stage" dataset="clientRegistrations.data" options="clientRegistrations.options" width="100%" height="240px"></flot>
      </div>
    </div>
  </div>
</div>
<!-- End client section -->
</div>
