<div role="tabpanel" class="tab-pane" id="code">
  <!-- begin developer section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Development</h2></div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-bug"></i> <span id="git-bugs">{{ summary.totals.openIssues }}</span></h4>
          <p class="description">Open issues</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-lightbulb-o"></i> <span id="git-feature-requests">{{ summary.totals.featureRequests }}</span></h4>
          <p class="description">Feature requests</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-send"></i> <span id="git-releases">{{ summary.totals.releases }}</span></h4>
          <p class="description">Releases</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i id="git-buildstatus-icon" class="icon fa {{ summaryStatusIcon }}"></i> <span id="git-buildstatus">{{ summaryStatus }}</span></h4>
          <p class="description">Build Status</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end developer section -->
</div>
