<div role="tabpanel" class="tab-pane" id="data">
  <!-- begin data section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Data</h2></div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Data transfer by country
          <a tabindex="0" class="pophelp" popover="Data movement by country. This heat map reflects the number of transfers made by geographic location. Location is resolved by geolocating ip addresses." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div>
            <div id="vmap" style="width: 100%; height: 480px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin data badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-exchange"></i> <span id="data-dvd" ng-bind-html="summary.totals.transfers | humanNumber"></span></h4>
          <p class="description">Transfers</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-exchange"></i> <span id="data-total" ng-bind-html="summary.totals.bytes | humanSize:0"></span></h4>
          <p class="description">Volume</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-arrows-alt"></i> <span id="data-total" ng-bind-html="summary.leaders[3].values[0].count| humanSize"></span></h4>
          <p class="description">Max Size</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-arrows"></i> <span id="data-systems" ng-bind-html="summary.averages.fileSize | humanSize"></span></h4>
          <p class="description">Avg Size</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end data badges -->
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Data protocol vs file size
          <a tabindex="0" class="pophelp" popover="Total data momement, including retried transfers, is shown by protocol over time." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dataProtocolVsSize" dataset="dataProtocolVsSize.data" options="dataProtocolVsSize.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Data protocol vs # transfers
          <a tabindex="0" class="pophelp" popover="Data movement by protocol is shown as a percentage of total data moved." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dataProtocolVsTransfers" dataset="dataProtocolVsTransfers.data" options="dataProtocolVsTransfers.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Data protocol vs # retries
          <a tabindex="0" class="pophelp" popover="Data movement by protocol is shown as a percentage of total data moved." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dataProtocolVsRetries" dataset="dataProtocolVsRetries.data" options="dataProtocolVsRetries.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- begin data badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa im-server"></i> <span id="data-systems" ng-bind-html="summary.totals.systems | humanNumber"></span></h4>
          <p class="description">Destinations</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-clock-o"></i> <span id="data-hours" ng-bind-html="summary.totals.countries | humanNumber : 1"></span></h4>
          <p class="description">Countries</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-video-camera"></i> <span id="data-dvd" ng-bind-html="(summary.totals.bytes / 3.0) | humanNumber"></span></h4>
          <p class="description">DVDS COPIED</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-clock-o"></i> <span id="data-hours" ng-bind-html="hoursSaved | humanNumber : 1"></span></h4>
          <p class="description">Hours Saved</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end data badges -->
  <div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Average transfer size (GB)
          <a tabindex="0" class="pophelp" popover="Average cumulative size of all files withing a scheduled transfer in GB." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.bytesPerTransfer" knob-options="knobs.bytesPerTransfer.options"></knob>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Avg. Files/Transfer
          <a tabindex="0" class="pophelp" popover="Average number of files transfered within a single scheduled transfer." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.filesPerTransfer" knob-options="knobs.filesPerTransfer.options"></knob>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Avg. Transfers/User
          <a tabindex="0" class="pophelp" popover="Average number of transfers per user." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.transfersPerUser" knob-options="knobs.transfersPerUser.options"></knob>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Monthly data activity
          <a tabindex="0" class="pophelp" popover="Daily data movement activity over the last month." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dailyTransfers" dataset="dailyTransfers.data" options="dailyTransfers.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- end data section -->
</div>
