<div role="tabpanel" class="tab-pane" id="jobs">
  <!-- Begin jobs section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Jobs</h2></div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Job submission by country
          <a tabindex="0" class="pophelp" popover="Job distribution by country. This heat map reflects the quantity of jobs submitted by geographic location. Location is resolved by geolocating ip addresses." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div>
            <div id="vmap" style="width: 100%; height: 480px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin jobs badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa im-hardhat2"></i> <span id="jobs-total" ng-bind-html="summary.totals.jobs | humanNumber"></span></h4>
          <p class="description">Total jobs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa im-server"></i> <span id="jobs-systems" ng-bind-html="summary.totals.systems | humanNumber"></span></h4>
          <p class="description">Compute Targets</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa im-cpu"></i> <span id="jobs-cores" ng-bind-html="summary.totals.cores | humanNumber"></span></h4>
          <p class="description">Processors</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-clock-o"></i> <span id="jobs-hours" ng-bind-html="summary.totals.runTime | humanNumber"></span></h4>
          <p class="description">CPU Hours</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end jobs badges -->
  <div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Avg. run time (min)
          <a tabindex="0" class="pophelp" popover="Job distribution by country. This heat map reflects the quantity of jobs submitted by geographic location. Location is resolved by geolocating ip addresses." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.runTime" knob-options="knobs.runTime.options"></knob>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Average cores
          <a tabindex="0" class="pophelp" popover="Job distribution by country. This heat map reflects the quantity of jobs submitted by geographic location. Location is resolved by geolocating ip addresses." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.cores" knob-options="knobs.cores.options"></knob>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Avg. Jobs per User
          <a tabindex="0" class="pophelp" popover="Job distribution by country. This heat map reflects the quantity of jobs submitted by geographic location. Location is resolved by geolocating ip addresses." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <knob knob-data="summary.averages.jobsPerUser" knob-options="knobs.jobsPerUser.options"></knob>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Jobs by scheduler
          <a tabindex="0" class="pophelp" popover="Job breakdown by scheduler used on remote system." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="right">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="jobSchedulers" dataset="jobSchedulers.data" options="jobSchedulers.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Jobs by execution type
          <a tabindex="0" class="pophelp" popover="Job breakdown by the execution mechanism of the target system." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="jobExecutionTypes" dataset="jobExecutionTypes.data" options="jobExecutionTypes.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Monthly job activity
          <a tabindex="0" class="pophelp" popover="Monthly job activity represents the number of jobs which began running during the given period." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dailyJobs" dataset="dailyJobs.data" options="dailyJobs.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- end jobs section -->
</div>
