<div role="tabpanel" class="tab-pane" id="operations">
  <!-- start operations section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Operations</h2></div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Overall platform uptime
          <a tabindex="0" class="pophelp" popover="Top client applications across all tenants by cumulative usage." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <!-- <input id="averageUptime" class="dial" data-width="100%" data-height="225" data-min="0" data-max="100" data-angleArc="250" data-angleOffset="-125" tv="{{ averageUptime }}" value="0"> -->
          <knob knob-data="averageUptime" knob-options="knobs.averageUptime.options"></knob>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Active datacenters
          <a tabindex="0" class="pophelp" popover="Current datacenter locations of the production infrastructure." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div>
            <div id="vmap" style="width: 100%; height: 240px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Container distribution
          <a tabindex="0" class="pophelp" popover="Current datacenter locations of the production infrastructure." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div>
            <flot id="containerDistribution" dataset="containerDistribution.data" options="containerDistribution.options" width="100%" height="240px"></flot>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin operations badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-thumbs-o-down"></i> <span id="platform-downtime" ng-bind-html="summary.totals.downtime">/span></h4>
            <p class="description">Downtime</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon fa fa-gamepad"></i> <span id="platform-maintenance">{{summary.totals.maintenance}}</span></h4>
            <p class="description">Maintenance</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 visible-sm">&nbsp;</div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon fa fa-refresh"></i> <span id="platform-updates" ng-bind-html="summary.totals.deployments | humanNumber"></span></h4>
            <p class="description">Deployments</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon im-docker"></i> <span id="platform-containers">{{totalContainers}}</span></h4>
            <p class="description">Containers</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end operations badges -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Platform uptime by service
          <a tabindex="0" class="pophelp" popover="Top client applications across all tenants by cumulative usage." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="apiUptimes" class="chart-stage" dataset="apiUptimes.data" options="apiUptimes.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>
  <!-- end operations section -->
</div>
