<div class="tabpanel">
  <ul id="stat-tabs" class="nav nav-pills stats-type-tabs nav-stacked">
    <li role="presentation">
      <a ui-sref="summary" ng-click='hideTooltip()' aria-controls="world" active-link="/index"><i class="icon fa fa-globe"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="traffic" ng-click='hideTooltip()' aria-controls="traffic" active-link="/traffic"><i class="icon fa fa-line-chart"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="data" ng-click='hideTooltip()' aria-controls="data" active-link="/data"><i class="icon fa fa-exchange"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="jobs" ng-click='hideTooltip()' aria-controls="jobs" active-link="/jobs"><i class="icon im-hardhat2"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="apps" ng-click='hideTooltip()' aria-controls="apps" active-link="/apps"><i class="icon fa fa-th"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="clients" ng-click='hideTooltip()' aria-controls="clients" active-link="/clients"><i class="icon fa fa-puzzle-piece"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="code" ng-click='hideTooltip()' aria-controls="code" active-link="/code"><i class="icon fa fa-code"></i></a>
    </li>
    <li role="presentation">
      <a ui-sref="operations" ng-click='hideTooltip()' aria-controls="operations" active-link="/operations"><i class="icon fa fa-cogs"></i></a>
    </li>
  </ul>
</div>
