<div role="tabpanel" class="tab-pane active" id="world">
  <!-- begin summary badges -->
  <div id="sum_box" class="row">
    <div class="col-sm-12 col-md-12"><h2>Worldwide usage</h2></div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa im-hardhat2"></i> <span id="summary-jobs" ng-bind-html="summary.totals.totalJobs | humanNumber:0"></span></h4>
          <p class="description">Jobs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-exchange"></i> <span id="summary-transfers" ng-bind-html="summary.totals.totalData | humanSize:0"></span></h4>
          <p class="description">Moved</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 visible-sm">&nbsp;</div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i class="icon fa fa-group"></i> <span id="summary-users" ng-bind-html="summary.totals.totalUsers | humanNumber"></span></h4>
          <p class="description">Users</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel badge">
        <div class="panel-body">
          <h4 class="value"><i id="summary-status-icon" class="icon fa {{ summaryStatusIcon }}"></i> <span id="summary-status">{{ summaryStatus }}</span></h4>
          <p class="description text-uppercase">Status</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end summary badges -->
  <!-- begin world section  -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Worldwide platform usage
          <a tabindex="0" class="pophelp" popover="Daily worldwide traffic broken down by day over the last month." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <!-- <flot id="traffic" class="chart-stage" dataset="trafficData.data" options="trafficData.options" width="100%" height="480px"></flot> -->
          <div>
            <map class="map" center="40.4, 0.0" zoom="2" draggable="false" options='{scrollwheel: false}' disable-default-u-i="true" styles="[ { featureType: 'water', elementType: 'geometry', stylers: [ { 'color': '#37455f' } ] },{ featureType: 'water', elementType: 'labels', stylers: [ { visibility: 'off' } ] },{ featureType: 'landscape', elementType: 'geometry', stylers: [ { visibility: 'off' } ] },{ featureType: 'poi', elementType: 'geometry', stylers: [ { visibility: 'off' } ] },{ featureType: 'road', stylers: [ { visibility: 'off' } ] },{ featureType: 'transit', stylers: [ { visibility: 'off' } ] },{ featureType: 'administrative', elementType: 'labels', stylers: [ { visibility: 'off' } ] },{ featureType: 'administrative', elementType: 'geometry', stylers: [ { visibility: 'off' } ] },{ featureType: 'administrative.province', elementType: 'geometry', stylers: [ { visibility: 'on' } ] },{ featureType: 'administrative.country', elementType: 'geometry', stylers: [ { visibility: 'on' } ] } ]">
              <marker ng-repeat='location in traffic.locations track by $index' position="{{location.lat}}, {{location.lng}}" animation="DROP"></marker>
            </map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end world section -->
</div>
