<div role="tabpanel" class="tab-pane" id="traffic">
  <!-- begin traffic section -->
  <div class="row">
    <div class="col-sm-12 col-md-12"><h2>Traffic</h2></div>
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Daily traffic
          <a tabindex="0" class="pophelp" popover="Total worldwide traffic over the last month broken down by day." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <flot id="dailyTraffic" class="chart-stage" dataset="dailyTraffic.data" options="dailyTraffic.options" width="100%" height="240px"></flot>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin top lists -->
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top tenants
          <a tabindex="0" class="pophelp" popover="Top tenants by overall requests." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div class="mbs" ng-repeat="leader in summary.leaders[2].values track by $index" ng-init="leaderPct = (((leader.count / summary.totals.requests) * 100) | number:0)">
            <p class="mbs">{{ leader.name }}</p>
            <div class="progress mbs">
              <div class="progress-bar progress-bar-success progress-bar-striped text-dark" role="progressbar" aria-valuenow="{{leaderPct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{leaderPct}}%; background-color: {{defaultColors[$index]}}">
                {{ leader.count | humanNumber:1:true }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top 3rd party applications
          <a tabindex="0" class="pophelp" popover="Top clients by overall requests." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div class="mbs" ng-repeat="leader in summary.leaders[1].values track by $index" ng-init="leaderPct = (((leader.count / summary.totals.requests) * 100) | number:0)">
            <p class="mbs">{{ leader.name }}</p>
            <div class="progress mbs">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{leaderPct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{leaderPct}}%; background-color: {{defaultColors[$index]}}">
                {{ leader.name }} {{ leader.count | humanNumber:1:true }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Top access clients
          <a tabindex="0" class="pophelp" popover="Top countries by overall requests." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">
            <i class="icon fa fa-info"></i>
          </a>
        </div>
        <div class="chart-stage">
          <div class="mbs" ng-repeat="leader in summary.leaders[0].values track by $index" ng-init="leaderPct = (((leader.count / summary.totals.requests) * 100) | number:0)">
            <p class="mbs">{{ leader.name }}</p>
            <div class="progress mbs">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{leaderPct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{leaderPct}}%; background-color: {{defaultColors[$index]}}">
                {{ leader.name }} {{ leader.count | humanNumber:1:true }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end top lists -->
  <!-- begin hourly stats -->
  <!--<div class="row">-->
    <!--<div class="col-sm-12 col-md-12">-->
      <!--<div class="chart-wrapper">-->
        <!--<div class="chart-title">-->
          <!--Hourly traffic-->
          <!--<a tabindex="0" class="pophelp" popover="Total worldwide traffic over the last month broken down by hour of day." popover-append-to-body="true" popover-trigger="mouseenter" popover-placement="left">-->
            <!--<i class="icon fa fa-info"></i>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="chart-stage">-->
          <!--<flot id="hourlyTraffic" class="chart-stage" dataset="hourlyTraffic.data" options="hourlyTraffic.options" width="100%" height="240px"></flot>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!-- end hourly stats -->
  <!-- end traffic badges -->
</div>
