<div tabindex="-1" role="dialog" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)" class="modal fade" size="lg" index="0" animate="animate" style="z-index: 1050; display: block;">
  <div ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}" class="modal-dialog modal-lg">
    <div modal-transclude class="modal-content"></div>
  </div>
</div>
